<head>
<meta charset="UTF-8">

<style>
	#area-contato {
		background: #6DB33F;
	}
	
	#area-contato .container {
		padding: 3px 0;
		text-align: center;
	}
	
	#area-contato a {
		text-decoration: none;
		color: white;
	}
</style>
</head>

<footer>
	<div id="area-contato">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h6>
						<a href="https://www.linkedin.com/in/esnayder" target="_blank">
							Desenvolvido por Esnayder Garcia &copy; 2022
						</a>
					</h6>
				<div>
			</div>
		</div>
	</div>		
</footer>
